

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

<script type="text/javascript" 
src="http://cdn.datatables.net/plug-ins/1.10.13/api/sum().js"></script>


<script>
$(document).ready(function(){
    $('#myTable').dataTable({  
  searching: true,
  "paging": false,
  "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
} );
});
</script>

    <div class="row">    
        <div class="col-md-10" > 
          <h2 class = "page-header">
            <%= (I18n.t("date.month_names")[@ini_mes.month]).titleize    %>
          </h2>        

        </div>
         <div class="col-md-1 text-right form-actions" >  
             <br> <br>      
             <%= link_to  "<" , movements_path( :filter_month => (@ini_mes - 1.month).month ),  :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>                           
        </div>      
         <div class="col-md-1 text-right form-actions" >  
             <br> <br>      
             <%= link_to  ">" , movements_path( :filter_month => (@ini_mes+ 1.month).month ),  :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>                           
        </div>    
    </div>

    <div class="row">    
        <div class="col-md-8" >
          <h2 class = "page-header">
            <%= t(:'simple_form.labels.movement.lista_titulo') %>
          </h2>         
        </div>
         <div class="col-md-2 text-right form-actions" >  
             <br> <br>      
             <%= link_to  "Nuevo movimiento" , new_movement_path ,  :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>       
                 
        </div>   

         <div class="col-md-2 text-right form-actions" >  
          <br> <br>
          <%= form_tag import_movements_excel_import_index_path, multipart: true do %>  
            <%= file_field_tag :file %>          
            <%= submit_tag "Import" %>
          <% end %>    
                 
        </div>   

    </div>

<table  id="myTable" class="table  table-striped">
  <thead>
    <tr>
      <th style="text-align:center"><%= t(:'simple_form.labels.movement.movement_date') %></th>  
      <th style="text-align:left"><%= t(:'simple_form.labels.movement.name') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.movement.amount') %></th>     
      <th style="text-align:right"><%= t(:'simple_form.labels.movement.category') %></th>                 
      <th style="text-align:left"><%= t(:'simple_form.labels.movement.subcategory') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.movement.movementtype') %></th>     
      <th style="text-align:left"><%= t(:'simple_form.labels.movement.account') %></th>    
      <th style="text-align:left"><%= t(:'simple_form.labels.movement.location') %></th>   
      <th style="text-align:left"></th>   
    </tr>
  </thead>

  <tbody>


       <div class="col-md-4">
          <%= pie_chart @movements.group(:movementtype).sum(:amount) , donut: true, legend: false, title: t(:'graph_weight_dividend_sector') %>
        </div> 
  
        <div class="col-md-4">
         <%= column_chart [
          {name: "Ingresos/Ahorro/Gastos", data:@movements.group(:movementtype).sum(:amount)}

          ], title: 'compras_y_ventas_eur' %>

       </div>

   

    <% @movements.each do |movement| %>
      <tr>

      <td style="text-align:center"><%= I18n.l(movement.movement_date) %></td>  
      <td style="text-align:left"><%= link_to movement.name, edit_movement_path(movement) %></td> 
      <td style="text-align:right"><%= format_currency(movement.amount, "€")  %></td>    
      <td style="text-align:left"><%= movement.subcategory.category %></td>                  
      <td style="text-align:left"><%= movement.subcategory %></td>
      <td style="text-align:left"><%= movement.movementtype %></td>     
      <td style="text-align:left"><%= movement.account %></td>    
      <td style="text-align:left"><%= movement.location %></td>           
      <td><%= link_to t("destroy"), movement, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-sm btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>


