
 <div class="row">

      <% @expected_dividends_group_month_array.each do |key, value| %>
       <div class="col-md-4">
      <%= line_chart [
        {name: "Previsto", data: value},
        {name: "Real", data: @real_dividends_group_month_array[key]}
        #,{name: "Past", data: @last_year_real_dividends_group_month}
        
      ] , title: t(:'graph_dividend_year_com_currency',  curr: Currency.find(key).name) %>
       </div>
       <% end %>

    
    </div>   



   <div class="row">
   <!--     <div class="col-md-4">
      <%= line_chart [
        {name: "Previsto", data: @expected_dividends_group_month},
        {name: "Real", data: @real_dividends_group_month}
        #,{name: "Past", data: @last_year_real_dividends_group_month}
        
      ] , title: t(:'graph_dividend_year_com') %>
       </div> -->

 
       <div class="col-md-4">
         <%= column_chart [
          {name: "$", data: @purchases_group_year_usd},
          {name: "€", data: @purchases_group_year_eur},          
          {name: "£", data: @purchases_group_year_gbp}

          ], title: t(:'graph_year_purchases') %>

       </div>

       <div class="col-md-4">
         <%= column_chart [
          {name: "Compras", data: @all_purchases_group_year_eur},
          {name: "Ventas €", data: @all_sales_group_year_eur},
          {name: "Ventas $", data: @all_sales_group_year_usd},
          {name: "Ventas £", data: @all_sales_group_year_gbp},

          ], title: 'compras_y_ventas_eur' %>

       </div>


       <div class="col-md-4">  
           
         <%= line_chart [
          {name: "€", data: @real_dividends_group_year_eur},
          {name: "$", data: @real_dividends_group_year_usd},
          {name: "£", data: @real_dividends_group_year_gbp}
           


          ], title: t(:'graph_dividend_historic') %>

      

       </div>
    </div>   



<!--  <div class="row">
       <div class="col-md-4">
          <%= pie_chart @expected_dividends_group_company , donut: true, legend: false, title: t(:'graph_weight_dividend') %>
       </div>


       
    </div>  -->