
 <div class="row">

      <% @expected_dividends_group_month_array.each do |key, value| %>
       <div class="col-md-4">
      <%= line_chart [
        {name: "Previsto", data: value},
        {name: "Real", data: @real_dividends_group_month_array[key]}
        #,{name: "Past", data: @last_year_real_dividends_group_month}
        
      ] , title: t(:'graph_dividend_year_com_currency',  curr: Currency.find(key).name) %>
       </div>
       <% end %>

    
    </div>   



   <div class="row">
       <div class="col-md-4">
      <%= line_chart [
        {name: "Previsto", data: @expected_dividends_group_month},
        {name: "Real", data: @real_dividends_group_month}
        #,{name: "Past", data: @last_year_real_dividends_group_month}
        
      ] , title: t(:'graph_dividend_year_com') %>
       </div>


       <div class="col-md-4">
      <%= column_chart @purchases_group_year, title: t(:'graph_year_purchases') %>

       </div>
       <div class="col-md-4">
      <%= pie_chart @real_dividends_group_year , donut: true, title: t(:'graph_dividend_historic') %>
       </div>
    </div>   



 <div class="row">
       <div class="col-md-4">
          <%= pie_chart @expected_dividends_group_company , donut: true, legend: false, title: t(:'graph_weight_dividend') %>
       </div>


       
    </div> 