<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<% mi_portfolio = MyPortfolioSummary.new(Company) %>

TOTAL: <%=  @total  %> 

<div class="card-deck">

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'portfolio_value') %></h4>
      <h1 class="card-text text-center"><%= number_to_currency(mi_portfolio.global_value) %></h1>
        <br>
         <div class="row">
           <div class="col-md-6 text-left">
              <% if mi_portfolio.global_benefit.to_f >= 0 %>
                <font color="#009933">+<%= number_to_currency(mi_portfolio.global_benefit) %></font>
              <% else %>
                <font color="#ff0000"><%= number_to_currency(mi_portfolio.global_benefit) %></font>
              <% end %>    
            </div>
           <div class="col-md-6 text-right"><strong>
              <% if mi_portfolio.global_perc_benefit.to_f >= 0 %>
                  <font color="#009933">+<%= number_to_percentage(mi_portfolio.global_perc_benefit, precision: 2)   %></font>
                <% else %>
                  <font color="#ff0000"><%= number_to_percentage(mi_portfolio.global_perc_benefit, precision: 2)   %></font>
                <% end %>    
               </strong>
          </div>       
    </div>
    </div>
  </div>

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'purchased_year') %></h4>
      <h1 class="card-text text-center"><%= number_to_currency(mi_portfolio.purchases_current_year) %></h1>   
    </div>
  </div>
  
  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'dividends_month') %></h4>
      <h1 class="card-text text-center"><%= number_to_currency(mi_portfolio.dividends_current_month) %></h1>
      <h4 class="card-text text-center"><%= number_to_currency(mi_portfolio.expected_dividends_current_month) %></h4>    
    </div>
  </div>



  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'dividends_year') %></h4>
      <h1 class="card-text text-center"><%= number_to_currency(mi_portfolio.dividends_current_year) %></h1>
      <h4 class="card-text text-center"><%= number_to_currency(mi_portfolio.expected_dividends_current_year) %></h4>
      

    </div>
  </div>


 



</div>


<br>
<div class="card-deck">

<div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">    
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'last_purchases') %></h4>
        <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% mi_portfolio.last_purchases(3).each do |p| %>
              <tr>
                <td style="text-align:left"><%= p.company.symbol  %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>      
                <td style="text-align:right"><%= number_to_currency(p.price)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>      
      
    </div>
  </div>

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">    
    <div class="card-block">
      <h4 class="card-title text-center"><%= t(:'next_dividends') %></h4>
        <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% mi_portfolio.next_dividends(3).each do |p| %>
              <tr>
                <td style="text-align:left"><%= p.company.symbol  %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>        
                <td style="text-align:right"><%= number_to_currency(p.amount)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>      
      
    </div>
  </div>


</div>

<br>
<%= render 'dashboard/graphs' %>

 

 <%= mi_portfolio = nil %>


