 <h2 class = "page-header">
  <%= t(:'simple_form.labels.dashboard.dividend_historic_title') %>
</h2> 
 

<table class="table">
  <thead>
    <tr>
      <th><%= t(:'simple_form.labels.dashboard.month_name')%> </th>
      <th><%= t(:'simple_form.labels.dashboard.company_name')%> </th>
    <% @years.each do |key, value| %>
        <th style="text-align:right"><%= key.year %></th>  
      <% end %>    
        <th>Total</th>
    </tr>
  </thead>

  <tbody>

  <% [1,2,3,4,5,6,7,8,9,10,11,12].each do |num_mes|  %>

        <% @years.each do |key, value|
              @years[key] = 0 
        end  %>
        
        <% primer_item_mes = 1 %>
        <% @meses[num_mes].each do |key, value| %>
        <tr>
            <td><%= if primer_item_mes == 1 then 
                 t("date.month_names")[num_mes].humanize
                end %> 
            </td> 

            <td><%= key %></td> <!-- Nombre de la empresa -->

            <% total_empresa = 0 %>
             <% @years.each do |key_year, value_year| %>
             
               <td style="text-align:right"><%= number_to_currency(value[key_year.year-@year_min]) %></td>  <!-- dividendo para mes y año -->
               

               <% unless value[key_year.year-@year_min].nil? 
                  total_empresa = total_empresa + value[key_year.year-@year_min] 
                  @years[key_year] = @years[key_year] + value[key_year.year-@year_min]
                  end %>

            <% end %>  
            <td style="text-align:right"><strong><%=number_to_currency(total_empresa.round(2))%></strong></td> <!-- Suma de dividendos de la empresa en el mes y por todos los años -->

            <% primer_item_mes = 0 %>

          
        </tr>
        
  
        <% end %>    
        <tr>
        	<td></td>     
            <td style="text-align:right"><strong><%= t(:'simple_form.labels.dashboard.total_mes', mes: t("date.month_names")[num_mes]) %></strong></td>
              <% @meses_totales[num_mes].each do |key, value| %>
                    <td style="text-align:right"><strong><%= number_to_currency(value) %></strong></td>  
                  <% end %>  
               
        </td>
        </tr>        
      
    <% end %>
     <tr>  
     	<td></td>     
        <td style="text-align:right"><strong><%= t(:'simple_form.labels.dashboard.total_anual') %></strong></td>
          <% @years_totales.each do |key, value| %>
                <td style="text-align:right"><strong><%= number_to_currency(value) %></strong></td>  
              <% end %>  
         
    </td>
    </tr>      
  </tbody>
</table>




