<h2 class = "page-header">
  <%= t(:'dashboard_title') %>
</h2>      





<div class="card-deck">

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h5 class="card-title text-center"><%= link_to t('portfolio_value'), portfolio_path %></h5>
      <h2 class="card-text text-center"><%= number_to_currency(@global_value, precision:0) %></h2>
        <br>
         <div class="row">
           <div class="col-md-6 text-left">
              <% if @global_benefit.to_f >= 0 %>
                <font color="#009933">+<%= number_to_currency(@global_benefit, precision:0) %></font>
              <% else %>
                <font color="#ff0000"><%= number_to_currency(@global_benefit, precision:0) %></font>
              <% end %>    
            </div>
           <div class="col-md-6 text-right"><strong>
              <% if @global_perc_benefit.to_f >= 0 %>
                  <font color="#009933">+<%= number_to_percentage(@global_perc_benefit, precision: 2)   %></font>
                <% else %>
                  <font color="#ff0000"><%= number_to_percentage(@global_perc_benefit, precision: 2)   %></font>
                <% end %>    
               </strong>
          </div>       
    </div>
    </div>
  </div>

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h5 class="card-title text-center"><%= t(:'purchased_year') %></h5>
      <h2 class="card-text text-center"><%= number_to_currency(@purchases_current_year, precision:0) %></h2>   
    </div>
  </div>
  
  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h5 class="card-title text-center"><%= t(:'dividends_month') %></h5>
      <h2 class="card-text text-center"><font color="#2ea319"><%= number_to_currency(@dividends_current_month_eur, precision:0) %></font></h3>
      <h4 class="card-text text-center">
        
        <% @dividends_current_month.each  do |key, value| %>

           <%= number_to_currency(value, unit:Currency.find(key).symbol , precision:0)  %> <br>
           
        <% end %>
      </h4>
      
          
    </div>
  </div>



  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h5 class="card-title text-center"><%= link_to t('dividends_year'), index_historic_dividend_path %></h5>
      <h2 class="card-text text-center"><font color="#2ea319"><%= number_to_currency(@dividends_current_year_eur, precision:0) %></font></h3>
      <h4 class="card-text text-center">
        
        <% @dividends_current_year.each  do |key, value| %>
           <%= number_to_currency(value, unit:Currency.find(key).symbol , precision:0)  %> <br>
          
        <% end %>
      </h4>
     
        
    

    </div>
  </div>


 <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">          
    <div class="card-block">
      <h5 class="card-title text-center"><%= t(:'dividends_expected_year') %></h5>
      <h2 class="card-text text-center"><font color="#2ea319"><%= number_to_currency(@expected_dividends_current_year_eur, precision:0) %></font></h3> 
      <h4 class="card-text text-center">
      
        <% @expected_dividends_current_year.each  do |key, value| %>

           <%= number_to_currency(value, unit:Currency.find(key).symbol , precision:0)  %> <br>
           
        <% end %>
      </h4>
      
         
    </div>
  </div>

 



</div>


<br>
<div class="card-deck">

<div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">    
    <div class="card-block">
      <h5 class="card-title text-center"><%= t(:'last_purchases') %></h5>
        <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% @last_purchases.each do |p| %>
              <tr>
                <td style="text-align:left"><%= link_to p.company.symbol,  p.company %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>      
                <td style="text-align:right"><%= number_to_currency(p.price)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>      
      
    </div>
  </div>

  <div class="card" style="background-color: #FAFAFA; border-color: #FAFAFA;">    
    <div class="card-block">
      <h5 class="card-title text-center"><%= link_to t(:'next_dividends'),index_expect_real_dividend_month_path %></h5>
        <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= t(:'price') %></th>           
            </tr>
          </thead>

          <tbody>
            <% @next_dividends.each do |p| %>
              <tr>
                <td style="text-align:left"><%= link_to p.company.symbol,  p.company %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>        
                <td style="text-align:right"><%= number_to_currency(p.amount, unit:p.currency.symbol)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>      
      
    </div>
  </div>


</div>

<br>
<%= render 'dashboard/graphs' %>

 
