<h2 class = "page-header">
  <%= t(:'simple_form.labels.dashboard.expected_real_dividend_title', mes: I18n.l(Time.now, :format => "%B")) %>
</h2>      
<div class="row">    
    <div class="col-md-4" >
       <h3><%= t(:'simple_form.labels.dashboard.real_dividend_month') %></h3>
       <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% @real_dividends_current_month.each do |p| %>
              <tr>
                <td style="text-align:left"><%= link_to p.company.symbol,  p.company %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>        
                <td style="text-align:right"><%= format_currency(p.net_amount, p.currency.symbol)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>     
    </div>


    <div class="col-md-4" >
      <h3><%= t(:'simple_form.labels.dashboard.expected_dividend_month') %></h3>
       <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% @expected_dividends_current_month.each do |p| %>
              <tr>
                <td style="text-align:left"><%= link_to p.company.symbol,  p.company %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>        
                <td style="text-align:right"><%= format_currency(p.amount, p.currency.symbol)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>    
    </div>


    <div class="col-md-4" >
      <h3>Año pasado </h3>
       <table id="myTable" class="table  table-striped">
          <thead>
            <tr>
              <th style="text-align:left"><%= t(:'simple_form.labels.company.symbol') %></th>
              <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date')%></th>
              <th style="text-align:right"><%= number_to_currency(t(:'price')) %></th>           
            </tr>
          </thead>

          <tbody>
            <% @last_year_dividends_current_month.each do |p| %>
              <tr>
                <td style="text-align:left"><%= link_to p.company.symbol,  p.company %></td>
                <td style="text-align:center"><%= I18n.l(p.operation_date)  %></td>        
                <td style="text-align:right"><%= format_currency(p.net_amount, p.currency.symbol)  %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>    
    </div>



</div>