<h1>Hola</h1>

<% 

opers = current_user.operations.select(:company_id, :operation_date, :net_amount).where(:operationtype_id => Mycapital::OP_DIVIDEND).order('operation_date').group_by { |u| u.operation_date.beginning_of_month }
 %>

	<% 
	years = current_user.operations.where(:operationtype_id => Mycapital::OP_DIVIDEND).group_by_year(:operation_date).sum(:amount)
	 %>
<% year_min = 0 %>
 	<strong>A침os</strong>
	<% years.each do |key, value| %>
  		<%= key %>
  		<%if year_min == 0  then  
  			year_min = key.year  
  		 end %>
  	<% end %>

	<br>	

	<strong>Meses</strong><br>

	<% meses = []  %>

	<% opers.each do |key, value|  %>
		
	<%year_array = key.year - year_min  %>

	<%	value.each do |op|   %>
	<%		years_company = [] %>
	<%		if meses[key.month].nil? then	 %>		
	Primera de todas 	<%= Company.find(op.company_id).name %> <br>
	<%			years_company[year_array] = op.net_amount %>
	<%			meses[key.month] = {Company.find(op.company_id).name => years_company} %>
	<%		else %>
	<%			empresas_mes =  meses[key.month]  %>		
	<%			if empresas_mes[Company.find(op.company_id).name].nil? then %>
	<%				# Primer registro de la empresa en el mes, lo a침adimos %>
	No existe <%= Company.find(op.company_id).name %> <br>
	<%				years_company[year_array] = op.net_amount %>
	<%				meses[key.month] = {Company.find(op.company_id).name => years_company} %>
	<%			else %>
	<%				# la empresa tiene registro en el mes pero quiz치 no en el a침o. Lo validamos. %>
	EXISTE <%= Company.find(op.company_id).name %> <br>
	<%				years_company = empresas_mes[Company.find(op.company_id).name] %>
	<%				if years_company[year_array].nil? then %>
	<%					years_company[year_array] = op.net_amount %>
	<%				else %>
	<%					years_company[year_array] = years_company[key.year] + op.net_amount %>
	<%				end %>
	<%				meses[key.month] = {Company.find(op.company_id).name => years_company} %>
	<%			end %>
	<%		end %>
	<%	end %>

				
	<% end %>
<br>
---------------------------------------------------

  	<% meses.each do |mes|  %>
  		<%= mes %>
  	<% end %>

	



<table class="table">
  <thead>
    <tr>
      <th>Mes</th>
      <th>Empresa</th>
      <th>2016</th>
      <th>2017</th>
    </tr>
  </thead>

  <tbody>
	<% opers.each do |key, value| %>
		
	
 	  <tr>
        <td><strong><%= key %></strong></td>
	        <% value.each do |op|%>
	        <td><%= Company.find(op.company_id) %></td>
	        <td><%= op.net_amount %></td>   

      </tr>



		<% end %>
		
	<% end %>

   
  </tbody>
</table>
</div>

<!-- 
<% @k.columns.each do |col| %>
  <th><%= col.header %></th>
  <th><%= col.data %></th>
<% end %>
 -->

