

<table class="table">
  <thead>
    <tr>
      
      <th style="text-align:left"><%= t(:'simple_form.labels.company.company') %></th>   
      <th style="text-align:right"><%= t(:'simple_form.labels.company.share_price') %></th>              
      <th style="text-align:center"><%= t(:'simple_form.labels.company.var_percent') %></th>                                           
 
    </tr>
  </thead>

  <tbody>
    <% companies_mostrar.each  do |key, value| %>
      
          <tr>            
            <td style="text-align:left"><%= link_to value.name, value %></td>

            <td style="text-align:right"><%= value.share_price_formatted %></td>                            
            <td style="text-align:center">    
              <% if value.var_percent.to_f >= 0 %>
                <font color="#009933"><%= number_to_percentage(value.var_percent, precision: 2) %></font>
              <% else %>
                  <font color="#ff0000"><%= number_to_percentage(value.var_percent, precision: 2) %></font>
              <% end %>     
           </td>                              
                                                     
          </tr>
      
        


     
    <% end %>
  </tbody>
</table>





<br>




