
<div class="row">    
    <div class="col-md-10" >
		 <h2 class = "page-header">
		  <%= t(:'list_targets') %>
		</h2>      
       
     
    </div>
 
</div>



<table class="table  table-striped">
  <thead>
    <tr>
      <th style="text-align:left"><%= t(:'.name') %></th>
      <th style="text-align:center"><%= t(:'simple_form.labels.company.symbol') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.company.share_price') %></th>      
      <th style="text-align:right"><%= t(:'simple_form.labels.company.perc_dividend_last_result') %></th>      
      
      <th style="text-align:right"><%= t(:'simple_form.labels.company.date_share_price') %></th>      
      <th style="text-align:left"><%= t(:'simple_form.labels.company.stockexchange') %></th>      
      <th style="text-align:left"><%= t(:'simple_form.labels.company.target_price_1') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.company.porc_dif_target_price') %></th>

    </tr>
  </thead>

  <tbody>
    <% @greens.each do |company| %>
      <tr>
        <td style="text-align:left"><%= link_to company.name, company %></td>
        <td style="text-align:center"><a href=<%= company.url_google_finance %>  target = "_blank"><%= company.symbol %></a></td>
        <td style="text-align:right"><%= company.share_price_formatted %></td>    
        <td style="text-align:right"><%= number_to_percentage(company.perc_dividend_last_result, precision: 2) %></td>          
        <td style="text-align:right"><%= company.date_share_price_formatted %></td>
        <td style="text-align:left"><%= company.stockexchange %></td>         
        <td style="text-align:left"><%= company.target_price_1_formatted %></td>          
        <td style="text-align:left"><%= number_to_percentage(company.porc_dif_target_price, precision: 2) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


