<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha resultado:</strong>
  <%= @company_result.fecha_resultado %>
</p>

<p>
  <strong>Es oficial:</strong>
  <%= @company_result.es_oficial %>
</p>

<p>
  <strong>Cotizacion:</strong>
  <%= @company_result.cotizacion %>
</p>

<p>
  <strong>Cotiz max:</strong>
  <%= @company_result.cotiz_max %>
</p>

<p>
  <strong>Cotiz min:</strong>
  <%= @company_result.cotiz_min %>
</p>

<p>
  <strong>Patrimonio neto:</strong>
  <%= @company_result.patrimonio_neto %>
</p>

<p>
  <strong>Gastos generales:</strong>
  <%= @company_result.gastos_generales %>
</p>

<p>
  <strong>Gastos desarrollo:</strong>
  <%= @company_result.gastos_desarrollo %>
</p>

<p>
  <strong>Ventas:</strong>
  <%= @company_result.ventas %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @company_result.ebitda %>
</p>

<p>
  <strong>Ebit:</strong>
  <%= @company_result.ebit %>
</p>

<p>
  <strong>Beneficio neto ordinario:</strong>
  <%= @company_result.beneficio_neto_ordinario %>
</p>

<p>
  <strong>Beneficion neto total:</strong>
  <%= @company_result.beneficion_neto_total %>
</p>

<p>
  <strong>Deuda largo plazo:</strong>
  <%= @company_result.deuda_largo_plazo %>
</p>

<p>
  <strong>Deuda corto plazo:</strong>
  <%= @company_result.deuda_corto_plazo %>
</p>

<p>
  <strong>Deuda neta:</strong>
  <%= @company_result.deuda_neta %>
</p>

<p>
  <strong>Cf explotacion:</strong>
  <%= @company_result.cf_explotacion %>
</p>

<p>
  <strong>Cf inversion:</strong>
  <%= @company_result.cf_inversion %>
</p>

<p>
  <strong>Cf financiacion:</strong>
  <%= @company_result.cf_financiacion %>
</p>

<p>
  <strong>Cf neto:</strong>
  <%= @company_result.cf_neto %>
</p>

<p>
  <strong>Dividendo ordinario:</strong>
  <%= @company_result.dividendo_ordinario %>
</p>

<p>
  <strong>Dividendo extraordinario:</strong>
  <%= @company_result.dividendo_extraordinario %>
</p>

<p>
  <strong>Dividendo total:</strong>
  <%= @company_result.dividendo_total %>
</p>

<p>
  <strong>Num acciones:</strong>
  <%= @company_result.num_acciones %>
</p>

<p>
  <strong>Bpa:</strong>
  <%= @company_result.bpa %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @company_result.payout %>
</p>

<p>
  <strong>Pago dividendos:</strong>
  <%= @company_result.pago_dividendos %>
</p>

<p>
  <strong>Per max:</strong>
  <%= @company_result.per_max %>
</p>

<p>
  <strong>Per med:</strong>
  <%= @company_result.per_med %>
</p>

<p>
  <strong>Per min:</strong>
  <%= @company_result.per_min %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_result.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @company_result.user %>
</p>

<%= link_to 'Edit', edit_company_result_path(@company_result) %> |
<%= link_to 'Back', company_results_path %>
