<%= simple_form_for([@company,@company_historic_dividend]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">    
      <div class="col-md-6" >
        <%= f.input :exdividend_date , as: :string  ,  input_html: {:title => t(:'simple_form.tooltips.company_historic_dividend.exdividend_date')}  %>
        <%= f.input :record_date , as: :string  ,  input_html: {:title => t(:'simple_form.tooltips.company_historic_dividend.record_date')}  %>
        <%= f.input :announce_date , as: :string,  input_html: {:title => t(:'simple_form.tooltips.company_historic_dividend.announce_date')}  %>
               
      </div>

      <div class="col-md-6" >

        <%= f.input :payment_date , as: :string  ,  input_html: {:title => t(:'simple_form.tooltips.company_historic_dividend.payment_date')}  %>
        <%= f.input :amount %>
        <%= f.input :dividend_type, collection: CompanyHistoricDividend.dividend_types.keys, include_blank: false %>

      </div>
 

    </div>
  </div>

  <div class="form-inputs">

  </div>

  <div class="form-actions">  
    <input type="submit" class="btn btn-success" value=<%= t("save") %> >
    <%= link_to  t("cancel") , company_path(@company_historic_dividend.company), :class => "btn btn-info", :style=>'color:#FFFFFF;' %>   
  </div>
<% end %>
