
    <div class="row">    
        <div class="col-md-10" >
            <h2 class = "page-header">
              <%= t(:'simple_form.labels.planif_records.lista_titulo') %>
            </h2>  
            <h1>Listing Planif Records</h1> 
                
        </div>
         <div class="col-md-2 text-right form-actions" >  
             <br> <br>      
              
            <%= link_to 'New Planif record', new_planif_record_path ,  :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>       
     
        </div>    
    </div>

   




<div class="row"><br></div>

<div class="container">
<table id="myTable"  class="table  table-striped cell-border compact hover order-column">
  <thead>
    <tr>
      <th><%= t(:'simple_form.labels.planif_records.name') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.planif_records.amount') %></th>
      <th style="text-align:center"><%= t(:'simple_form.labels.planif_records.day') %></th>
      <th style="text-align:center"><%= t(:'simple_form.labels.planif_records.start_month') %></th>
      <th style="text-align:center"><%= t(:'simple_form.labels.planif_records.start_at') %></th>
      <th style="text-align:center"><%= t(:'simple_form.labels.planif_records.end_at') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.planif_records.subcategory') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.planif_records.account') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.planif_records.periodicity') %></th>
      <th style="text-align:left"><%= t(:'simple_form.labels.planif_records.user') %></th>
      <th></th>  
      <th></th>     
    </tr>
  </thead>

  <tbody>
    <% @planif_records.each do |planif_record| %>
      <tr>    

        <td style="text-align:left"><%= planif_record.name %></td>  
        <td style="text-align:right"><%= number_to_currency(planif_record.amount) %></td>   
        <td style="text-align:center"><%= planif_record.day %></td>   
        <td style="text-align:center"><%= planif_record.start_month %></td> 

        <td style="text-align:center"><%= format_date(planif_record.start_at) %></td> 
        <td style="text-align:center"><%= format_date(planif_record.end_at) %></td> 


        <td style="text-align:left"><%= planif_record.subcategory %></td> 
        <td style="text-align:left"><%= planif_record.account %></td> 
        <td style="text-align:left"><%= planif_record.periodicity %></td> 
        <td style="text-align:left"><%= planif_record.user %></td> 

    
        <td><%= link_to 'Edit', edit_planif_record_path(planif_record), :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t("destroy"), planif_record, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-sm btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>          
      </tr>

    <% end %>
  </tbody>
</table>
</div>
<br>



