<!-- <img src="portada_ing.png" class="img-fluid" > -->
<br>
<br>
<br>

  
  


<%= link_to  t(:'menu_countries'), :controller => "countries" %><br>
<%= link_to  t(:'menu_currencies'), :controller => "currencies" %><br>
<%= link_to  t(:'menu_stockexchanges'), :controller => "stockexchanges" %><br>
<%= link_to  t(:'menu_sectors'), :controller => "sectors" %><br>
<%= link_to  t(:'menu_reference_webs'), :controller => "reference_webs" %><br>

<h3>Ingresos, gastos y ahorro</h3>
<%= link_to "Movimientos", :controller => "movements" %><br>
<%= link_to "Planification Records", :controller => "planif_records" %><br>
<%= link_to "Estimated Movements", :controller => "estimated_movements" %><br>
<%= link_to "Mapeo conceptos y subcategorías", :controller => "mapconcepts" %><br>





<h3>Balance</h3>
<%= link_to "Accounts", :controller => "accounts" %><br>
<%= link_to "Banks", :controller => "banks" %><br>

<%= link_to "Categories", :controller => "categories" %><br>
<%= link_to "Subcategories", :controller => "subcategories" %><br>
<%= link_to "Periodicities", :controller => "periodicities" %><br>
<%= link_to "Movement Types", :controller => "movementtypes" %><br>
<%= link_to "Locations", :controller => "locations" %><br>

<h3>Importación dividendos</h3>
<%= link_to  "Importar excel" , excel_import_index_path ,  :class => "btn btn-primary", :style=>'color:#FFFFFF;' %>   <br>    

<h2>Categorías</h2>
<%= form_tag import_categories_excel_import_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Subcategorías</h2>
<%= form_tag import_subcategories_excel_import_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Ubicaciones</h2>
<%= form_tag import_locations_excel_import_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


<h2>Planificación</h2>
<%= form_tag import_planif_records_excel_import_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Mapeo conceptos y subcategorías</h2>
<%= form_tag import_mapconcepts_excel_import_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


