<div class="row">
    <div class="col-md-2 text-right"><p5><%= t(:'simple_form.labels.company.shares_sum') %>:</p5></div>
    <div class="col-md-2 text-right"><p5><strong><%= number_with_delimiter(@company.shares_sum.round(0)) %></strong></p5></div>
    <div class="col-md-1 text-left"></div>
   <div class="col-md-2 text-right"> <p5><%= t(:'simple_form.labels.company.dividend_sum') %>:</p5></div>
   <div class="col-md-1 text-right"><p5><strong><%=  number_to_currency(@company.dividend_sum)  %></strong></p5></div>    
    <div class="col-md-2 text-right"><p5><%= t(:'simple_form.labels.company.puchased_sum') %>:</p5></div>
    <div class="col-md-2 text-right"><p5><strong><%=  number_to_currency(@company.puchased_sum)  %></strong></p5></div>
</div>   

<div class="row">
   <div class="col-md-2 text-right"> <p5><%= t(:'simple_form.labels.company.estimated_benefit_global_currency') %>:</p5></div>
   <div class="col-md-2 text-right"><p5><strong>
      <% if @company.estimated_benefit_global_currency.to_f  >= 0 %>
        <font color="#009933"><%=  number_to_currency(@company.estimated_benefit_global_currency)  %></font>
    <% else %>
        <font color="#ff0000"><%=  number_to_currency(@company.estimated_benefit_global_currency)  %></font>
    <% end %>      
    </strong></p5>
    </div>
   <div class="col-md-1 text-left"><p5><strong>(<%= @company.perc_estimated_benefit_global_currency  %> %)</strong></p5></div>
<!--    <div class="col-md-2 text-right"> <strong>Sales profit:</strong></div>
   <div class="col-md-1 text-right label-warning">6666</div>   -->
    <div class="col-md-2 text-right"><p5><%= t(:'simple_form.labels.company.sold_sum') %>:</p5></div>
    <div class="col-md-1 text-right"><p5><strong><%= number_to_currency(@company.sold_sum)  %></strong></p5></div>        
</div>   

 <div class="row">
    <div class="col-md-2 text-right"> <p5><%= t(:'simple_form.labels.company.invested_sum') %>:</p5></div>
    <div class="col-md-2 text-right"><p5><strong><%=  number_to_currency(@company.invested_sum)  %></strong></p5></div>
    <div class="col-md-1 text-left"></div>
<!--    <div class="col-md-2 text-right"> <strong>Total:</strong></div>
   <div class="col-md-1 text-right label-warning">777</div>    -->
   <div class="col-md-2 text-right"><p5><%= t(:'simple_form.labels.company.ampliated_sum') %>:</p5></div>
   <div class="col-md-1 text-right"><p5><strong><%=  number_to_currency(@company.ampliated_sum) %></strong></p5></div>    
 </div>   
 
  <div class="row">
   <div class="col-md-2 text-right"> <p5><%= t(:'simple_form.labels.company.estimated_value_global_currency') %>:</p5></div>
   <div class="col-md-2 text-right"><p5><strong><%=  number_to_currency(@company.estimated_value_global_currency)  %></strong></p5></div>
  </div>  


  <br>
 <div class="row">
  <div class="col-md-3 text-right"><p5><%= @company.stockexchange.currency.symbol%></p5></div>
  <div class="col-md-1 text-right"><p5><%= Mycapital::CURRENCY_PURCHASE_SYMBOL %></p5></div>
 </div>  

 <div class="row">
    <div class="col-md-2 text-right"><p5><%= t(:'simple_form.labels.company.average_price') %>:</p5></div>
    <div class="col-md-1 text-right"><p5><strong><%= number_with_delimiter(@company.average_price_origin_currency) %></strong></p5></div>
    <div class="col-md-1 text-right"><p5><strong><%= number_with_delimiter(@company.average_price)  %></strong></p5></div>

 </div>  

  <div class="row">
   <div class="col-md-2 text-right"> <p5><%= t(:'simple_form.labels.company.share_price_global_currency') %>:</p5></div>
    <div class="col-md-1 text-right"><p5><strong><%= number_with_delimiter(@company.share_price)  %></strong></div>
   <div class="col-md-1 text-right"><p5><strong><%= number_with_delimiter(@company.share_price_global_currency)  %></strong></p5></div>
  </div>  

