<div class="uk-grid-collapse uk-child-width-expand@s uk-text-left uk-margin-large-top" uk-grid>
    <div>
        <div class="uk-background-white">

           <dl class="uk-description-list"> 
       

                
                <dt><%= t(:'simple_form.labels.company.ttmEPS') %></dt>
                <dd><%=  @company.number_currency_operations(@company.stats('ttmEPS'))  %></dd>


                <dt><%= t(:'simple_form.labels.company.div_yield') %></dt>
                <dd><%= @company.number_currency_operations(@company.stats('ttmDividendRate'))  %> ( <%=  @company.number_to_percentage(@company.stats('dividendYield') * 100, precision: 2)  %>)</dd>


                <dt><%= t(:'simple_form.labels.company.peRatio') %></dt>                
                <dd><%=  number_with_precision(@company.stats('peRatio'), precision: 2)  %></dd>
                
                <dt><%= t(:'simple_form.labels.company.beta') %></dt>
                <dd><%=  number_with_precision(@company.stats('beta'), precision: 2)  %>
                        <% if @company.stats('beta') >= 0 %>
                               (volátil)         
                        <% else %>
                                (defensivo)
                        <% end %>  

                </dd>

                
                <dt><%= t(:'simple_form.labels.company.day200MovingAvg') %></dt>
                <dd><%=  @company.number_currency_operations(@company.stats('day200MovingAvg'))  %></dd>
                
                <dt><%= t(:'simple_form.labels.company.day50MovingAvg') %></dt>
                <dd><%=  @company.number_currency_operations(@company.stats('day50MovingAvg'))  %></dd>
                


             </dl>         

        </div>
    </div>
    <div>
        <div class="uk-background-white">

               <dl class="uk-description-list"> 
          
                        <dt><%= t(:'simple_form.labels.company.day5ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('day5ChangePercent') * 100, precision: 2)  %></dd>

                        <dt><%= t(:'simple_form.labels.company.day30ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('day30ChangePercent') * 100, precision: 2)  %></dd>

                        <dt><%= t(:'simple_form.labels.company.month3ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('month3ChangePercent') * 100, precision: 2)  %></dd>
                        
                        <dt><%= t(:'simple_form.labels.company.month6ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('month6ChangePercent') * 100, precision: 2)  %></dd>


                </dl>    


        </div>
        </div>
    <div>
        <div class="uk-background-white">
                <dl class="uk-description-list"> 
                                          

                     


                        <dt><%= t(:'simple_form.labels.company.year1ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('year1ChangePercent') * 100, precision: 2)  %></dd>
                        
                        <dt><%= t(:'simple_form.labels.company.year2ChangePercent') %></dt>                
                        <dd><%=  @company.number_to_percentage(@company.stats('year2ChangePercent') * 100, precision: 2)  %></dd>
                        

                        <dt><%= t(:'simple_form.labels.company.year5ChangePercent') %></dt>               
                        <dd><%=  @company.number_to_percentage(@company.stats('year5ChangePercent') * 100, precision: 2)  %></dd>

                </dl>    


        </div>
    </div>
</div>


