

<%= simple_form_for(@company, html: { autocomplete: 'off' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :symbol %>
    <%= f.association :stockexchange %>
    <%= f.association :sector %>
    <%= f.input :search_symbol  %>
  </div>
  

<div class="row">    
    <div class="col-md-10 form-actions" >

          <input type="submit" class="btn btn-success"   value=<%= t("save") %> >
          <%= link_to t("cancel"), companies_path, :class => "btn btn-info", :style=>'color:#FFFFFF;' %>       

  
     
    </div>
    <div class="col-md-2 text-right form-actions" >

         
          <%= link_to t("destroy"), @company,  :class => "btn btn-danger", :style=>'color:#FFFFFF;' , method: :delete, data: { confirm: t("are_you_sure") } %>
  
     
    </div>    
</div>



<% end %>


