

  <div class="row">
      <div class="col-md-4">  

        <div class="row">
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.shares_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%= number_with_delimiter(@company.shares_sum.round(0)) %></strong></div>    

        </div>
     

        <div class="row">
         <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.estimated_benefit_operations_currency') %>:</div>
         <div class="col-md-6 text-right"><strong>
            <% if @company.estimated_benefit_now.to_f  >= 0 %>
              <font color="#009933"><%=  @company.number_currency_operations(@company.estimated_benefit_now)  %></font>
          <% else %>
              <font color="#ff0000"><%=  @company.number_currency_operations(@company.estimated_benefit_now)  %></font>
          <% end %>      
          </strong>
          
          </div>      
      
        </div>

        <div class="row" >
          <div class="col-md-6 text-right" style="border: thin solid black"></div>
          <div class="col-md-6 text-right"><strong><small>(<%=  number_to_percentage(@company.perc_estimated_benefit_now, precision: 2)  %>)</small></strong></div>     


        </div>

        <% if @company.currency_symbol_operations.to_s != Mycapital::CURRENCY_PURCHASE_SYMBOL.to_s %>      
        <div class="row">
         <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.estimated_benefit_operations_currency_euros') %>:</div>
         <div class="col-md-6 text-right"><strong>
            <% if @company.estimated_benefit_operations_currency_euros.to_f  >= 0 %>
              <font color="#009933"><%=  format_currency(@company.estimated_benefit_operations_currency_euros, "€")  %></font>
          <% else %>
              <font color="#ff0000"><%=  format_currency(@company.estimated_benefit_operations_currency_euros, "€")  %></font>
          <% end %>      
          </strong>
          
          </div>      
      
        </div>

        <div class="row">
          <div class="col-md-6 text-right"></div>
          <div class="col-md-6 text-right"><strong><small>(<%=  number_to_percentage(@company.perc_estimated_benefit_operations_currency_euros, precision: 2)  %>)</small></strong></div>     
        </div>
        <% end %>





        <div class="row">
          <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.invested_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.invested_sum)  %></strong></div>        
        </div>



        <div class="row">
          <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.estimated_value_operations_currency') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.estimated_value_now)  %></strong></div>    

        </div>

      </div>


      <div class="col-md-4">

        <div class="row">
         <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.dividend_sum') %>:</div>
         <div class="col-md-6 text-right"><strong><%= format_currency(@company.dividend_sum, "€")  %></strong></div>  
         <!-- si hay dividendos en varias monesas, lo desglosamos  -->
           <% if @company.get_dividends.count > 1 %>    
              <div class="col-md-6 text-right"></div>
             
               <div class="col-md-6 text-right"><strong><small>     
                <% @company.get_dividends.each do |key, value| %>
                 
                  <%= number_to_currency(value, unit:Currency.find(key).symbol, seperator: ",", delimiter: ".")  %>
               
                <% end %>
               </small></strong>

              </div>
           <% else %>    
              <div class="col-md-6 text-right"></div>
             
               <div class="col-md-6 text-right"><strong><small>     
                <% @company.get_dividends.each do |key, value| %>
                 
                  <% if Currency.find(key).symbol != "€" %>   
                    <%= number_to_currency(value, unit:Currency.find(key).symbol, seperator: ",", delimiter: ".")  %>
                  <% end %>
                <% end %>
               </small></strong>

              </div>      

           <% end %>    
        </div>
        
        <div class="row">

         <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.ampliated_sum') %>:</div>
         <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.ampliated_sum) %></strong></div>    
      
        </div>

        <div class="row">
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.sold_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%= @company.number_currency_operations(@company.sold_sum)  %></strong></div>         
        </div>

        <div class="row">
 
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.puchased_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.puchased_sum)  %></strong></div>      

        </div>

      </div>


      <div class="col-md-4">

        <div class="row">
 
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.target_price_1') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.target_price_1)  %></strong></div>      

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.target_sell_price') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.target_sell_price)  %></strong></div>

          <br>

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.market_capitalization') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  number_to_human(@company.quote('marketCap'), precision: 3)  %> </strong></div>


          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.year_low') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.quote('week52Low'))  %></strong></div>

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.year_high') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.quote('week52High'))  %></strong></div>
             


        </div>

   
      </div>





  </div>   



    <br>



       <div class="row">
          
        
       

  

          <div class="col-md-2 text-right">
                  <br>
                  <%= t(:'simple_form.labels.company.average_price') %>:<br>
                  <%= t(:'simple_form.labels.company.average_price_real') %>:<br>
                  
          </div>


          <div class="col-md-1 text-right">
              <% if @company.currency_symbol_operations.to_s == Mycapital::CURRENCY_PURCHASE_SYMBOL.to_s %>        
                <%= @company.stockexchange.currency.symbol %><br>
                <strong><%= number_with_delimiter(@company.average_price_origin_currency) %></strong><br>
                <strong><%= number_with_delimiter(@company.average_price_origin_currency_real) %></strong><br>
                
              <% end %>
          </div>

          <div class="col-md-1 text-right">             
              <%= @company.currency_symbol_operations.to_s %><br>
            <strong><%= number_with_delimiter(@company.average_price)  %></strong><br>
            <strong><%= number_with_delimiter(@company.average_price_real)  %></strong><br>         
          </div>

       

      </div>     

<div class="row">
  <div class="col-md-6">
    <table  class="table table-light">
     <tbody>
        <tr class="table-hover">
          <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.market_capitalization') %></td>
          <td class="right-align" style="padding-right: 0px;"><strong><%=  number_to_human(@company.quote('marketCap'), precision: 3)  %></strong></td>
        </tr>      
        <tr class="table-hover">    
            <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.year_low') %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.number_currency_operations(@company.quote('week52Low'))  %></strong></td>
        </tr>      
        <tr class="table-hover">
            <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.year_high') %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.number_currency_operations(@company.quote('week52High'))  %></td>
        </tr> 

         <% ['latestEPS','latestEPSDate','returnOnEquity','consensusEPS','EBITDA','revenue','grossProfit','cash','debt','revenuePerShare','peRatioHigh','peRatioLow','returnOnAssets','returnOnCapital','profitMargin','priceToBook','priceToSales'].each do |magnitud| %>

        <tr class="table-hover">
            <td style="padding-left: 0px;"><%=  magnitud  %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.stats(magnitud)  %></td>
        </tr> 
        <% end %> 
 
        </tr>





    </tbody>
    </table>

  </div>
</div>