<%= simple_form_for(@company, html: { autocomplete: 'off' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">    
      <div class="col-md-4" >
        <%= f.input :name %>        
        <%= f.association :stockexchange %>
        <%= f.association :country %>
        <%= f.association :sector %>
        <%= f.input :investors_url %>        
        <%= f.input :activity_description  %>   
                    
      </div>

      <div class="col-md-4" >

        <%= f.input :target_price_1  ,  input_html: {:title => t(:'simple_form.tooltips.company.target_price_1')}  %>    
        <%= f.input :target_price_2  ,  input_html: {:title => t(:'simple_form.tooltips.company.target_price_2')}  %>   
        <%= f.input :target_sell_price  %>      
        <%= f.input :traffic_light_id, collection: current_user.companies.traffic_light_ids.keys, include_blank: false %>
        <%= f.input :symbol , :disabled => true %>
        <%= f.input :search_symbol  , :disabled => true %>

      </div>

      <div class="col-md-4" >
        <%= f.input :dividend_payments_quantity %>  
        <%= f.input :historic_dividend_url %>  
        <%= f.input :first_uninterrupted_year_div  ,  input_html: {:title => t(:'simple_form.tooltips.company.first_uninterrupted_year_div')}  %>

      </div>      

    </div>
  </div>
  

<div class="row">    
    <div class="col-md-10 form-actions" >

          <input type="submit" class="btn btn-success"   value=<%= t("save") %> >
          <%= link_to t("cancel"), @company, :class => "btn btn-info", :style=>'color:#FFFFFF;' %>       

  
     
    </div>
  <!--   <div class="col-md-2 text-right form-actions" >

         
          <%= link_to t("destroy"), @company,  :class => "btn btn-danger", :style=>'color:#FFFFFF;' , method: :delete, data: { confirm: t("are_you_sure") } %>
  
     
    </div>    --> 
</div>



<% end %>


