
  <div class="row">
      <div class="col-md-4">  

        <div class="row">
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.shares_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%= number_with_delimiter(@company.shares_sum.round(0)) %></strong></div>    

        </div>
     

        <div class="row">
         <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.estimated_benefit_operations_currency') %>:</div>
         <div class="col-md-6 text-right"><strong>
            <% if @company.estimated_benefit_now.to_f  >= 0 %>
              <font color="#009933"><%=  @company.number_currency_operations(@company.estimated_benefit_now)  %></font>
          <% else %>
              <font color="#ff0000"><%=  @company.number_currency_operations(@company.estimated_benefit_now)  %></font>
          <% end %>      
          </strong>
          
          </div>      
      
        </div>

        <div class="row">
          <div class="col-md-6 text-right"></div>
          <div class="col-md-6 text-right"><strong><small>(<%=  number_to_percentage(@company.perc_estimated_benefit_now, precision: 2)  %>)</small></strong></div>     


        </div>

        <div class="row">
          <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.invested_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.invested_sum)  %></strong></div>        
        </div>



        <div class="row">
          <div class="col-md-6 text-right"> <%= t(:'simple_form.labels.company.estimated_value_operations_currency') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.estimated_value_now)  %></strong></div>    

        </div>

      </div>


      <div class="col-md-4">

        <div class="row">
         <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.dividend_sum') %>:</div>
         <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.dividend_sum)  %></strong></div>      

        </div>

        <div class="row">

         <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.ampliated_sum') %>:</div>
         <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.ampliated_sum) %></strong></div>    
      
        </div>

        <div class="row">
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.sold_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%= @company.number_currency_operations(@company.sold_sum)  %></strong></div>         
        </div>

        <div class="row">
 
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.puchased_sum') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.puchased_sum)  %></strong></div>      

        </div>

      </div>


      <div class="col-md-4">

        <div class="row">
 
          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.target_price_1') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.target_price_1)  %></strong></div>      

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.target_sell_price') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.target_sell_price)  %></strong></div>

          <br>

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.market_capitalization') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.market_cap)  %></strong></div>


          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.year_low') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.year_low)  %></strong></div>

          <div class="col-md-6 text-right"><%= t(:'simple_form.labels.company.year_high') %>:</div>
          <div class="col-md-6 text-right"><strong><%=  @company.number_currency_operations(@company.year_high)  %></strong></div>
             


        </div>

   
      </div>





  </div>   



    <br>



       <div class="row">
          
        
       

  

          <div class="col-md-2 text-right">
                  <br>
                  <%= t(:'simple_form.labels.company.average_price') %>:<br>
                  <%= t(:'simple_form.labels.company.average_price_real') %>:<br>
                  
          </div>


          <div class="col-md-1 text-right">
              <% if @company.currency_symbol_operations.to_s == Mycapital::CURRENCY_PURCHASE_SYMBOL.to_s %>        
                <%= @company.stockexchange.currency.symbol %><br>
                <strong><%= number_with_delimiter(@company.average_price_origin_currency) %></strong><br>
                <strong><%= number_with_delimiter(@company.average_price_origin_currency_real) %></strong><br>
                
              <% end %>
          </div>

          <div class="col-md-1 text-right">             
              <%= @company.currency_symbol_operations.to_s %><br>
            <strong><%= number_with_delimiter(@company.average_price)  %></strong><br>
            <strong><%= number_with_delimiter(@company.average_price_real)  %></strong><br>         
          </div>

       

      </div>     
