<div class="row">
  <div class="col-md-6">
    <table  class="table table-light">
     <tbody>
        <tr class="table-hover">
          <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.market_capitalization') %></td>
          <td class="right-align" style="padding-right: 0px;"><strong><%=  number_to_human(@company.quote('marketCap'), precision: 3)  %></strong></td>
        </tr>      
        <tr class="table-hover">    
            <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.year_low') %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.number_currency_operations(@company.quote('week52Low'))  %></strong></td>
        </tr>      
        <tr class="table-hover">
            <td style="padding-left: 0px;"><%= t(:'simple_form.labels.company.year_high') %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.number_currency_operations(@company.quote('week52High'))  %></td>
        </tr> 

         <% ['latestEPS','latestEPSDate','returnOnEquity','consensusEPS','EBITDA','revenue','grossProfit','cash','debt','revenuePerShare','peRatioHigh','peRatioLow','returnOnAssets','returnOnCapital','profitMargin','priceToBook','priceToSales'].each do |magnitud| %>

        <tr class="table-hover">
            <td style="padding-left: 0px;"><%=  magnitud  %></td>
            <td class="right-align" style="padding-right: 0px;"><strong><%=  @company.stats(magnitud)  %></td>
        </tr> 
        <% end %> 
 
        </tr>





    </tbody>
    </table>

  </div>
</div>