:<% @title=@company.symbol %>
  <div class="uk-text-left" uk-grid>
 
      <div class="uk-width-4-5">
         
          <div class="uk-card uk-card-default uk-width-1-12@m">
          <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-auto">   
                      <% if @company.IEX_avaliable  %>                
                        <img class="uk-border-circle" width="40" height="40" src="<%=@company.logo_url %>">                      
                     <% end %>

                  </div>
                  <div class="uk-width-expand">

                      <h3 href="#" class="uk-card-title uk-margin-remove-bottom"><%= @company.name %> 

                       <% if @company.verde? then %>
                          <span class="uk-label uk-label-success">Para comprar</span>
                        <% end %>
                        <% if  @company.rojo? then %>
                          <span class="uk-label uk-label-danger">No tocar</span>
                        <% end %>

                        <% if  @company.amarillo? then %>
                          <span class="uk-label uk-label-warning">Decidir</span>
                        <% end %>

                        <% if  @company.gris? then %>
                          <span class="uk-label">Por clasificar</span>
                        <% end %>


                       <% if @company.target_price_1.to_f >= @company.share_price.to_f %>
                          <span class="uk-label uk-label-success">En compra</span>
                        <% end %>   


                      </h3>
                      <p class="uk-text-meta uk-margin-remove-top uk-text-large uk-text-emphasis"><strong><%=@company.share_price_formatted %></strong>                   
  
                         <% if @company.share_price_change_perc >= 0 %>
                          <span class="uk-text-success uk-text-small"><%= number_to_percentage(@company.share_price_change_perc, precision: 2) %></span>
                         <% else %>
                          <span class="uk-text-danger uk-text-small"><%= number_to_percentage(@company.share_price_change_perc, precision: 2) %></span>
                         <% end %>   

                         <span class="uk-text-meta uk-margin-remove-top uk-text-small"><%=@company.date_share_price_time_ago %></span>
                       </p>                      
                  </div>
                  <div class="uk-column-5-6">

                    <p><span class="uk-text-meta uk-margin-remove-top uk-text-small"><%= @company.sector %></span> 
                    <span class="flag-icon <%= @company.country_flag_icon %>"></span>
                    </p>
                  </div>
              </div>
          </div>
          <div class="uk-card-body">
          
          
          <p><span class="uk-text-meta uk-margin-remove-top uk-text-small"><%= @company.activity_description %> </span></p>

          <br>

          
       
            <%= render :partial => 'form_indicativos_compra' %>

      
              
          

          
          
          <h2 id="masinfo" class="uk-h3 tm-heading-fragment"><a href="#masinfo">Más información</a></h2>
          <div class="uk-column-1-3">
            

            <%= render :partial => 'form_summary' %>
          </div>

          <br>

          <h2 id="stats" class="uk-h3 tm-heading-fragment"><a href="#masinfo">Estadísticas</a></h2>
           

            <%= render :partial => 'form_ratios' %>
          
          


          <h2 id="noticias" class="uk-h3 tm-heading-fragment"><a href="#noticias">Noticias</a></h2>
          

            <%= render :partial => 'show_news' %>

          <br>

          <h2 id="comentarios" class="uk-h3 tm-heading-fragment"><a href="#comentarios">Comentarios</a></h2>
          <div>
          <%= render :partial => 'company_comments/index_company' %>
          </div>

          <br>      

          <div>
            <ul uk-tab>
                <li><a href="#">Dividendos</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Ampliaciones</a></li>
                <li><a href="#">Histórico</a></li>

            </ul>

            <ul id="ops" class="uk-switcher uk-margin">
                <li><%= render :partial => 'operations/index_simple_dividends', locals: {operationtype_id: Mycapital::OP_DIVIDEND}  %></li>
                <li><%= render :partial => 'operations/index_common', locals: {operationtype_id: Mycapital::OP_PURCHASE}  %>   
                <li><%= render :partial => 'operations/index_common', locals: {operationtype_id: Mycapital::OP_SALE}  %>   </li>
                <li><%= render :partial => 'operations/index_common', locals: {operationtype_id: Mycapital::OP_AMPLIATION}  %></li>                
                <li><%= render :partial => 'company_historic_dividends/index_company' %></li>
            </ul>
          </div>

        </div>
    
      

          <div class="uk-card-footer">
              
          </div>
      </div>
    </div>
      

      <div class="uk-width-1-5">

          <div class="uk-card uk-card-default uk-card-body"; uk-sticky="bottom: #top">


        <div class="tm-sidebar-right uk-visible@l" >


               <ul uk-scrollspy-nav="closest: li; scroll: true; offset: 100" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon">
                <li class="uk-active"><a href="#inicio">Inicio</a></li>
<!--                 <li><a href="#masinfo">Más información</a></li>                
                <li><a href="#stats">Estadísticas</a></li>                
                <li><a href="#noticias">Noticias</a></li>                
                <li><a href="#comentarios">Comentarios</a></li> 
 -->                <li><a href="#ops">Operaciones</a></li> 
                <li><%= link_to new_company_operation_path(@company, :operationtype_id =>  Mycapital::OP_DIVIDEND) do %>Nuevo dividendo</li> <% end %>
                <li><%= link_to new_company_operation_path(@company, :operationtype_id =>  Mycapital::OP_PURCHASE) do %>Nueva compra</li> <% end %>


                <li class="uk-nav-divider"></li> 
            
                  <li><a href=<%= @company.url_google_finance %> target = "_blank">Google Finance</a></li> 
                  <li><a href=<%= @company.url_earningsfly %> target = "_blank">Earnings Fly</a></li> 
                  <li><a href=<%= @company.investors_url %> target = "_blank">Investors</a></li> 
                  <li><a href=<%= @company.historic_dividend_url %> target = "_blank">Historic Div.</a></li> 
                  <li><a href=<%= @company.url_morningstar_ratios %> target = "_blank">Ratios</a></li> 
                  <li><a href=<%= @company.url_morningstar_incomes %> target = "_blank">Incomes</a></li> 
                  <li><a href=<%= @company.url_IEX %> target = "_blank">IEX</a></li> 
                  <li><a href=<%= @company.url_dividendmax %> target = "_blank">Dividend Max</a></li> 
                  
                  

                    
                    



              <li class="uk-nav-divider"></li> 

                <li><%= link_to edit_company_path(@company)   , title: t("edit"), style:"color:#373a3c ;" do %>Editar empresa</li> <% end %>
                <li><%= link_to new_company_operation_path(@company, :operationtype_id =>  Mycapital::OP_SALE) do %>Nuevo venta</li> <% end %>
                <li><%= link_to new_company_operation_path(@company, :operationtype_id =>  Mycapital::OP_AMPLIATION) do %>Nueva ampliación</li> <% end %>
                <li><%= link_to new_company_company_historic_dividend_path(@company) do %>Nuevo historic div</li> <% end %>                               
                <li><%= link_to new_company_company_comment_path(@company) do %>Nuevo comentario</li> <% end %>

                      
                
               </ul>


        </div>
    

          </div>
      </div>

  </div>

