
<table  class="table  table-striped">
  <thead>
    <tr>
      <th><%= t(:'simple_form.labels.company_comment.date_comment') %></th>
      <th><%= t(:'simple_form.labels.company_comment.comment') %></th>
      <th><%= t(:'simple_form.labels.company_comment.url') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>    
    <% @company.company_comments.order('date_comment DESC').each do |company_comment| %>
      <tr>
        <td>
          <% unless company_comment.date_comment.nil? %>
          <%= I18n.l(company_comment.date_comment) %>  
          <% end %>
          
        </td>
        <td><%= simple_format(company_comment.comment) %></td>
        <td>
              <% unless company_comment.url.nil? %>
                 <a href=<%= company_comment.url %>  target = "_blank">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                  </a>   
               <% end %> 
        </td>

        <td><%= link_to t("edit"), edit_company_company_comment_path(@company,company_comment), :class => 'btn btn-sm btn-primary', :style=>'color:#FFFFFF;'  %> </td>            
        <td><%= link_to t("destroy"), company_comment, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-sm btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>    

      </tr>
    <% end %>
  </tbody>
</table>


