<table  class="table  table-striped">
  <thead>
    <tr>

      <th><%= t(:'simple_form.labels.expert_target_price.date_target_price') %></th>    
      <th><%= t(:'simple_form.labels.expert_target_price.target_price_1') %></th>    
      <th><%= t(:'simple_form.labels.expert_target_price.target_price_2') %></th>    
      <th><%= t(:'simple_form.labels.expert_target_price.reference_web') %></th>    
      <th><%= t(:'simple_form.labels.expert_target_price.url') %></th>  

    </tr> 
  </thead>
 
  <tbody>
    <% @company.expert_target_prices.order("date_target_price DESC").each do |expert_target_price| %>
      <tr>
        <td><%= I18n.l(expert_target_price.date_target_price) %></td>
        <td><%= expert_target_price.target_price_1 %></td>
        <td><%= expert_target_price.target_price_2 %></td>
        <td><%= expert_target_price.reference_web %></td>
        <td>
              <% unless expert_target_price.url.nil? %>
                 <a href=<%= expert_target_price.url %>  target = "_blank">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                  </a>   
               <% end %> 
        </td>        
              
        <td><%= link_to t("edit"), edit_company_expert_target_price_path(@company,expert_target_price), :class => 'btn btn-sm btn-primary', :style=>'color:#FFFFFF;'  %> </td>            
        <td><%= link_to t("destroy"), expert_target_price, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-sm btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>    

      </tr>
    <% end %>
  </tbody>
</table>

<br>

