<p id="notice"><%= notice %></p>

<h1>Listing Expert Target Prices</h1>

<table  class="table  table-striped">
  <thead>
    <tr>
      <th>Date target price</th>
      <th>Target price 1</th>
      <th>Target price 2</th>
      <th>Web name</th>
      <th>Url</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expert_target_prices.each do |expert_target_price| %>
      <tr>
        <td><%= expert_target_price.date_target_price %></td>
        <td><%= expert_target_price.target_price_1 %></td>
        <td><%= expert_target_price.target_price_2 %></td>
        <td><%= expert_target_price.reference_web %></td>
        <td><%= expert_target_price.url %></td>
        <td><%= expert_target_price.company %></td>
        <td><%= link_to 'Show', expert_target_price %></td>
        <td><%= link_to 'Edit', edit_expert_target_price_path(expert_target_price) %></td>
        <td><%= link_to 'Destroy', expert_target_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expert target price', new_expert_target_price_path %>
