<%= simple_form_for(@stockexchange) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :country %>
    <%= f.association :currency %>
    <%= f.input :google_prefix %>
    <%= f.input :yahoo_suffix %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
