<p id="notice"><%= notice %></p>

<h1>Listing Stockexchanges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Currency</th>
      <th>Google Prefix</th>
      <th>Yahoo Sufix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stockexchanges.each do |stockexchange| %>
      <tr>
        <td><%= stockexchange.name %></td>
        <td><%= stockexchange.country %></td>
        <td><%= stockexchange.currency %></td>
        <td><%= stockexchange.google_prefix %></td>
        <td><%= stockexchange.yahoo_suffix %></td>

        <td><%= link_to 'Show', stockexchange %></td>
        <td><%= link_to 'Edit', edit_stockexchange_path(stockexchange) %></td>
        <td><%= link_to 'Destroy', stockexchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stockexchange', new_stockexchange_path %>
