<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Name long:</strong>
  <%= @location.name_long %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
