
<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
       <a class="uk-navbar-item uk-logo" href="#"><%= link_to t("app_name"), root_path, class: "navbar-brand" %></a>

       <% if current_user %>

        <ul class="uk-navbar-nav">
            <li><%= link_to t("menu_target"), targets_index_path %></li>
            
            <li>
                <a href="#">Bolsa</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#"><li><%= link_to t("menu_dashboard"), dashboard_index_path %></li></a></li>
                        <li><%= link_to t("menu_companies"), companies_path %></li>
                        <li><%= link_to "Sin Dividendos", welcome_sindiv_path %></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#">Finanzas</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#"><li><%= link_to "Movimientos", index_estimated_movements_path( :filter_month => Time.now.month) %></li></li></a></li>
                       
                        <% if current_user.permission_level == 0 %>
                         
                        
                          <li><%= link_to t("menu_balances"), balances_path %></li>  
                        <% end %>                   
                   
                        <li><%= link_to "Sin Dividendos", welcome_sindiv_path %></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#">Configuración</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#"><li><%= link_to t("menu_configuration"), configuration_page_index_path %></li> </li></a></li>

                    </ul>
                </div>
            </li>

       
            <ul  >
              <%= form_tag({:controller => "companies", :action => "index"}, :method => :get) do %>

                <%= text_field_tag "searchbox", params[:searchbox] , class: 'uk-input',  placeholder: 'Buscar empresa...' %>
              
                <% end %> 
             
            </ul>

          
            

        </ul>
    <% end %>     
    

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

                <% if current_user %>                    
                    <!-- <li><%= link_to  t("menu_edit_profile")  ,edit_user_registration_path %></li> -->
                    <li><%= link_to  t("menu_saludo", name: current_user )  ,edit_user_registration_path %></li>
                    <li><%= link_to t("menu_logout"), destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to t("menu_login"), new_user_session_path %></li>
                <% end %>


        </ul>

    </div>

</nav>