
      <nav class="navbar navbar-default navbar-fixed-top">
  <!-- 
            <div class="navbar-header">
              
                <%= link_to  t("app_name"), root_path, class: 'navbar-brand' %> 
            </div>
 -->
         
          <ul class="nav navbar-nav">
            <li><%= link_to  t("app_name"), root_path,  class: 'navbar-brand' %></li>
            <% if current_user %>
             <li><%= link_to t("menu_dashboard"), dashboard_index_path %></li>
              <li><%= link_to t("menu_portfolio"), portfolio_path %></li>
              <li><%= link_to t("menu_companies"), companies_path %></li>
              
              <!-- <li><%= link_to "Yahoo Tickers", yahoo_tickers_path %></li>
 -->

              <% if current_user.permission_level == 0 %>
                <li><%= link_to t("menu_operations"), operations_path %></li>               
              <% end %>          
            <% end %> 
          </ul>
      
            <ul class="nav navbar-nav navbar-right">
                <!-- Hola <%= current_user %>  -->
                <% if current_user %>                    
                    <!-- <li><%= link_to  t("menu_edit_profile")  ,edit_user_registration_path %></li> -->
                    <li><%= link_to  t("menu_saludo", name: current_user )  ,edit_user_registration_path %></li>
                    <li><%= link_to t("menu_logout"), destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to t("menu_login"), new_user_session_path %></li>
                <% end %>
            </ul>


      </nav>
   

