<%= simple_form_for([@company, @operation], html: { autocomplete: 'off' }) do |f| %>
 <%= f.error_notification %>
 <%= f.hidden_field  :operationtype_id, html5: true %> 
  <div class="row">
    <div class="col-md-4">            
      <%= f.input :operation_date, as: :date, html5: true %>
      <%= f.association :broker , :readonly => !(@operation.broker.nil?) %>
      <%= f.association :currency_operation, :readonly => !(@operation.currency_operation.nil?) %> 
      <%= f.input :quantity, as: :integer %>
      <%= f.input :price  %>
      
    </div>
   <div class="col-md-4">
      <%= f.input :commission  %>
      <%= f.input :fee  %>
      <%= f.input :amount  %>
      <%= f.input :comments  %>
    </div>    
    <div class="col-md-4">


 
             <%= f.association :currency, :readonly => !(@operation.currency.nil?),  input_html: {:title => t(:'simple_form.tooltips.operation.currency')}  %>
             <%= f.input :origin_price  , html5: true       ,  input_html: {:title => t(:'simple_form.tooltips.operation.origin_price')}  %>
             <%= f.input :exchange_rate   ,  input_html: {:title => t(:'simple_form.tooltips.operation.exchange_rate')}  %>
             <%= f.input :puchased_sum_euros  ,  input_html: {:title => t(:'simple_form.tooltips.operation.puchased_sum_euros')}  %>

             
  
    </div>
    
  </div>

  <div class="form-actions">  
    <input type="submit" class="btn btn-success" value=<%= t("save") %> >
    <%= link_to  t("cancel") , company_path(@company), :class => "btn btn-info", :style=>'color:#FFFFFF;' %>   
    <%= link_to t("destroy"), @operation, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-danger', :style=>'color:#FFFFFF;'  %>  
  </div>



<% end %>
