<div class="container">
  <table  class="table  table-striped">
  <thead>
    <tr>     
      <th style="text-align:center"><%= t(:'simple_form.labels.operation.operation_date') %></th>      
      <th style="text-align:right"><%= t(:'simple_form.labels.operation.net_amount') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.operation.gross_amount') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.operation.withholding_tax') %></th>        
      <th style="text-align:right"><%= t(:'simple_form.labels.operation.destination_tax') %></th>
      <th style="text-align:right"><%= t(:'simple_form.labels.operation.quantity') %></th>      
    </tr>
  </thead>
   <tbody>
    <% @company.operations.where("operationtype_id=" + operationtype_id.to_s).order(operation_date: :desc).each do |operation| %>
      <tr>
        
        <td style="text-align:center"><%= I18n.l(operation.operation_date) %></td>         
        <td style="text-align:right"><%= number_to_currency(operation.net_amount) %></td>   
        <td style="text-align:right"><%= number_to_currency(operation.gross_amount) %></td>
        <td style="text-align:right"><%=number_to_currency( operation.withholding_tax) %></td>
        <td style="text-align:right"><%=number_to_currency( operation.destination_tax) %></td>          
        <td style="text-align:right"><%= number_with_delimiter(operation.quantity) %></td>      
        <td><%= link_to t("edit"), edit_company_operation_path(@company, operation), :class => 'btn btn-primary btn-xs', :style=>'color:#FFFFFF;'  %> </td>            
        <td><%= link_to t("destroy"), operation, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>    
             
      </tr>
    <% end %>
  </tbody>
  </table>
</div>