
    <table  class="table  table-striped">
    <thead>
      <tr>            
        <th style="text-align:center"><%=t(:'simple_form.labels.operation.operation_date')%></th>      
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.amount') %></th>
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.quantity') %></th>
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.price') %></th>        
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.commission') %></th>
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.fee') %></th>
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.origin_price') %></th>        
        <th style="text-align:right"><%=t(:'simple_form.labels.operation.exchange_rate') %></th>        
      </tr>
    </thead>
     <tbody>
      <% @company.operations.where("operationtype_id=" + operationtype_id.to_s).order(operation_date: :desc).each do |operation| %>
        <tr>          
          <td style="text-align:center"><%= I18n.l(operation.operation_date) %></td>         
          <td style="text-align:right"><%= number_to_currency(operation.amount) %></td>        
          <td style="text-align:right"><%= number_with_delimiter(operation.quantity) %></td>
          <td style="text-align:right"><%= number_to_currency(operation.price) %></td>
          <td style="text-align:right"><%= number_to_currency(operation.commission) %></td>
          <td style="text-align:right"><%= number_to_currency(operation.fee) %></td>
          <td style="text-align:right"><%= operation.origin_price_formatted %></td>                            
          <td style="text-align:right"><%= number_with_delimiter(operation.exchange_rate) %></td>
            
          <td><%= link_to t("edit"), edit_company_operation_path(@company, operation), :class => 'btn btn-sm btn-primary', :style=>'color:#FFFFFF;'  %> </td>            
          <td><%= link_to t("destroy"), operation, method: :delete, data: { confirm: 'Seguro que desear borrarlo?' }, :class => 'btn btn-sm btn-danger btn-xs', :style=>'color:#FFFFFF;'  %></td>    
               
        </tr>
      <% end %>
    </tbody>
    </table>

