
    <table  class="table  table-striped">
    <thead>
      <tr>     

        <th><%= t(:'simple_form.labels.operation.operation_date') %></th>      
        <th><%= t(:'simple_form.labels.operation.net_amount') %></th>
        <th><%= t(:'simple_form.labels.operation.gross_amount') %></th>
        <th><%= t(:'simple_form.labels.operation.withholding_tax') %></th>        
        <th><%= t(:'simple_form.labels.operation.destination_tax') %></th>
        <th><%= t(:'simple_form.labels.operation.quantity') %></th>
        <th><%= t(:'simple_form.labels.operation.comments') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
     <tbody>
      <% @company.operations.where("operationtype_id=" + operationtype_id.to_s).order(operation_date: :desc).each do |operation| %>
        <tr>
          
          <td><%= I18n.l(operation.operation_date) %></td>         
          <td><%= operation.net_amount %></td>   
          <td><%= operation.gross_amount %></td>
          <td><%= operation.withholding_tax %></td>
          <td><%= operation.destination_tax %></td>          
          <td><%= operation.quantity %></td>
          <td><%= operation.comments %></td>      
          <td><%= link_to t("edit"), edit_company_operation_path(@company, operation) %> </td>            
          <td><%= link_to t("destroy"), operation, method: :delete %></td>    
               
        </tr>
      <% end %>
    </tbody>
    </table>
